<mat-toolbar color="primary">
    <img ngSrc="/assets/images/imagemproduto.png" alt="Logo do sistema" class="logo" height="335" width="335"/>
    <span class="titulo">Sistema de Produtos</span>
    <span class="spacer"></span>

    <button mat-button routerLink="/produtos" class="botao-menu">
      <mat-icon class="icone-botao">home</mat-icon>
      Início
    </button>

    <button mat-button routerLink="/produtos/novo" class="botao-menu">
      <mat-icon class="icone-botao">add</mat-icon>
      Criar novo produto
    </button>
</mat-toolbar>


<!-- Conteúdo principal da aplicação -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-divider></mat-divider>

<!-- Rodapé fixo -->
<footer class="footer">
  <span>© 2025 - Sistema de Gerenciamento de Produtos</span>
</footer>
