<div class="inicio-container">
  <mat-card class="inicio-card">
    <div class="inicio-conteudo">
      <mat-icon class="icone-inicio">inventory_2</mat-icon>

      <mat-card-title class="inicio-titulo">
        Sistema de Gerenciamento de Produtos
      </mat-card-title>

      <mat-card-subtitle class="inicio-subtitulo">
        Organize, cadastre e gerencie seus produtos de forma eficiente
      </mat-card-subtitle>

      <mat-card-content>
        <p class="inicio-texto">
          Bem-vindo ao sistema de gerenciamento de produtos!
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
